---
notes: |
  ###  Breadcrumbs  
  ####  Guidelines
  Show the labels of the sections in the hierarchical path that lead to the current page being viewed. Each label is a link to a section. The label of the current page is at the end of the breadcrumb and is not linked. Each label is separated with a special character. Popular characters are » (&amp;raquo;) or >. The separating characters and the spaces between the links and the labels are not linked. The labels of each section preferably match the titles of that section.
  
---
<div class="breadcrumbs">
        <a href="#breadcrumbs">Home</a> &raquo; <a href="#breadcrumbs">Careers</a> &raquo; Career Search
</div>