---
notes: |
  ###  Field Labels (Standard)   
  Field labels will be displayed adjacent to their corresponding fields. Clicking a field label will focus the associated input field which can be achieved through use of for/id attributes.
---
<label for="firstName">First Name</label>
<input type="text" id="firstName" name="fname" required="" autocomplete="given-name" placeholder="Example Input" />
<label for="postalCode">ZIP Code</label>
<input type="text" id="postalCode" class="zip" name="ship-zip" required="" autocomplete="shipping postal-code" placeholder="#####" data-field-length="5" />