---
notes: |
  ###  Secure Input   
  Secure inputs are a variation of a text field that should be used when handling sensitive information, such as credit card numbers. While technically there isn't any security inherent with this format, from a UX perspective it greatly increases perceived security, which oftentimes is the reason for checkout abandonment. 
---
<div class="secure-form">
<label for="secureInput">Card Number</label>
<input type="text" id="secureInput" class="secure" placeholder="Secure Input" />
</div>
